<div id="footer">
    <div id="footerText">
        <nav>
            <a routerLink="/contact">
                <h3>
                    CONTACT
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <h3>
            16 E STATE ST HERMITAGE,DE 65NA
        </h3>

        <div id="copyright">
            <h3>
                07741086476
            </h3>
        </div>

        <div>
            <div id="copyright">&copy;Pan India Restaurant</div>
        </div>
    </div>
</div>
