<header>
    <div id="left-box">
        <div class="kanji">
          Feel Taste
        </div>
        <div class="kanji">
            Indian Inspired
        </div>
    </div>

    <div id="middle-box">
        <a routerLink="/home">
            <div id="title">
                Pan India Restaurant
            </div>
        </a>
    </div>

    <div id="right-box">
        <div class="kanji">
            Home cooking
        </div>
        <div class="kanji">
            Way better
        </div>
    </div>
</header>
